
@model List<SchoolSolution.Infrastructure.Entities.Teacher>
@using SchoolSolution.Web.FrontEnd.Models
@using SchoolSolution.Web.FrontEnd.Code

@{
    ViewBag.Title = "Professeurs";
}

<div class="top-buffer"></div>
<div class="panel panel-primary">
    <div class="panel-heading panel-head">Professeurs</div>
    <div class="panel-body">
        <div class="btn-group">
            <a id="createTeacherModal" data-toggle="modal" asp-action="Create" data-target="#modal-action-teacher" class="btn btn-primary">
                 <span class="glyphicon glyphicon-plus"></span>  Nouveau Prof
            </a>

        </div>
        <div class="top-buffer"></div>
        <table class="table table-bordered table-striped table-condensed table-responsive">
            <thead>
                <th>#</th>
                <th>Nom complet</th>
                <th>Numero Tel.</th>
                <th>Email</th>
                <th>action</th>
            
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    int position = i + 1;
                    <tr>
                        
                        <td>@position.ToString()</td>
                        <td>@Model[i].FullName</td>
                        <td>@Model[i].PhoneNumber</td>
                        <td>@Model[i].Email</td>
                        <td>
                            <a id="editTeachermodal" data-toggle="modal" asp-action="Edit" asp-route-id="@Model[i].Id" data-target="#modal-action-teacher"
                               class="btn btn-info">
                                <span class="glyphicon glyphicon-pencil"/> modifier
                            </a>
                            <a asp-action="Details" asp-route-id="@Model[i].Id" 
                               class="btn btn-info">
                                <span class="glyphicon glyphicon-info-sign"/> Détails
                            </a>
                        </td>

                    </tr>
                } 

                   
               
            </tbody>

        </table>

    </div>
</div>
@Html.Partial("_Modal", new BootstrapModel { ID="modal-action-teacher",AreaLabeledId="modal-action-teacher-label", Size =ModalSize.Medium})
@section scripts{
    <scipt src="~/js/teacher-index.js" asp-append-version="true"></scipt>
}
