
@model List<SchoolSolution.Infrastructure.Entities.Course>
@using SchoolSolution.Web.Models
@using SchoolSolution.Web.Code

@{
    ViewBag.Title = "Cours";
}

<div class="top-buffer"></div>
<div class="panel panel-primary">
    <div class="panel-heading panel-head">Cours</div>
    <div class="panel-body">
        <div class="btn-group">
            <a id="createCourseModal" data-toggle="modal" asp-action="Create" data-target="#modal-action-course" class="btn btn-primary">
                 <span class="glyphicon glyphicon-plus"></span>  Ajouter Cours
            </a>

        </div>
        <div class="top-buffer"></div>
        <div class="col-md-12">
            <table class="table table-bordered table-striped table-condensed table-responsive">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Désciption</th>
                        <th>Moyenne périodique</th>
                        <th>Moyenne Examen</th>
                        <th>Moyenne total</th>
                        <th>Section</th>
                        <th>Action</th>

                    </tr>
                    
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Count(); i++)
                    {
                        int position = i + 1;
                        <tr>

                            <td>@position.ToString()</td>
                            <td>@Model[i].Name</td>
                            <td>@Model[i].PeriodAverage</td>
                            <td>@Model[i].ExamAverage</td>
                            <td>@Model[i].TotalAverage</td>
                            <td>@Model[i].department.Name</td>
                            <td>
                                <a id="editCourseModal" data-toggle="modal" asp-action="Edit" asp-route-id="@Model[i].Id" data-target="#modal-action-course" class="btn btn-info">
                                    <span class="glyphicon glyphicon-pencil"/> Modifier
                                </a>
                         
                                <a id="deleteCourseModal" data-toggle="modal" asp-action="Delete" asp-route-id="@Model[i].Id" data-target="#modal-action-course"
                                   class="btn btn-danger">
                                    <span class="glyphicon glyphicon-trash" /> Supprimer
                                </a>
                            </td>

                        </tr>
                    }



                </tbody>

            </table>
        </div>

    </div>
</div>
@Html.Partial("_Modal", new BootstrapModel { ID="modal-action-course",AreaLabeledId="modal-action-course-label", Size =ModalSize.Medium})
@section scripts{
    <scipt src="~/js/course-index.js" asp-append-version="true"></scipt>
}

