@model SchoolSolution.Web.FrontEnd.ViewModels.DepDetailViewModel
@using SchoolSolution.Web.FrontEnd.Models
@using SchoolSolution.Web.FrontEnd.Code
@{
    ViewBag.Title = "Details - " + Model.Department.Name;
}

<div class="top-buffer"></div>
<div class="panel panel-primary">
    <div class="panel-heading panel-head">Détails  - @Model.Department.Name <t/> Nombre de classe : @Model.numberClass</div>
    <div class="panel-body">
        <div class="btn-group">
            <a id="createClassModal" data-toggle="modal" asp-action="Create" asp-controller="Classe" data-target="#modal-action-classe" class="btn btn-primary">
                <span class="glyphicon glyphicon-plus"></span>  Ajouter Classe
            </a>

        </div>
        <div class="top-buffer"></div>
        <table class="table table-bordered table-striped table-condensed table-responsive">
            <thead>
            <th>#</th>
            <th>Nom classes</th>
            <th>action</th>

            </thead>
            <tbody>



                @for (int i = 0; i < Model.Classes.Count(); i++)
                {
                    int position = i + 1;
                    <tr>

                        <td>@position.ToString()</td>
                        <td>@Model.Classes[i].Name</td>

                        <td>
                            <a asp-action="Details" asp-route-id="@Model.Classes[i].Id" asp-controller="Classe"
                               class="btn btn-info">
                                <span class="glyphicon glyphicon-info-sign" /> Info
                            </a>

                        </td>

                    </tr>
                }




            </tbody>

        </table>

    </div>
</div>
@Html.Partial("_Modal", new BootstrapModel { ID="modal-action-classe",AreaLabeledId="modal-action-classe-label", Size =ModalSize.Medium})
@section scripts{
    <scipt src="~/js/classe-index.js" asp-append-version="true"></scipt>
}





