@model List<SchoolSolution.Infrastructure.Entities.Student>

@{
    ViewData["Title"] = "Elèves";
}

<div class="top-buffer"></div>
<div class="panel panel-success">
    <div class="panel-heading panel-head"><span class="glyphicon glyphicon-align-justify"></span>
        Résultat recherche a trouvé @ViewBag.count élève(s)
    </div>
    <div class="panel-body">
        <div  class="col-md-9">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nom complet</th>
                        <th>Genre</th>
                        <th>Addresse</th>
                        <th></th>
                    </tr>
                   
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        int position = i + 1;
                        <tr>
                            <td>@position.ToString()</td>
                            <td>@Model[i].FullName</td>
                            <td>@Model[i].Gender</td>
                            <td>@Model[i].Address</td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@Model[i].Id" class="btn btn-info"><span class="glyphicon glyphicon-pencil"></span></a> 
                                <a asp-action="Details" asp-route-id="@Model[i].Id" class="btn btn-info"><span class="glyphicon glyphicon-info-sign"></span></a>                                
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

          