
@model List<SchoolSolution.Web.ViewModels.ClassIndexModel>
@using SchoolSolution.Web.Models
@using SchoolSolution.Web.Code

@{
    ViewBag.Title = "Classes";
}

<div class="top-buffer"></div>
<div class="panel panel-primary">
    <div class="panel-heading panel-head">Classes</div>
    <div class="panel-body">
        <div class="btn-group">
            <a id="createClasseModal" data-toggle="modal" asp-action="Create" data-target="#modal-action-classe" class="btn btn-primary">
                 <span class="glyphicon glyphicon-plus"></span>  Ajouter Classe
            </a>

        </div>
        <div class="top-buffer"></div>
        <div class="col-md-12">
            <table class="table table-bordered table-striped table-condensed table-responsive">
                <thead>
                <th>#</th>
                <th>Nom classe</th>
                <th>Total cours</th>
                <th>Nom section</th>
                <th>Action</th>

                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Count(); i++)
                    {
                        int position = i + 1;
                        <tr>

                            <td>@position.ToString()</td>
                            <td>@Model[i].classeName</td>
                            <td>@Model[i].TotalCourses</td>
                            <td>@Model[i].depName</td>
                            <td>
                                <a id="editClassModal" data-toggle="modal" asp-action="Edit" asp-route-id="@Model[i].Id" data-target="#modal-action-classe" class="btn btn-info">
                                    <span class="glyphicon glyphicon-pencil"/> Modifier
                                </a>
                                <a asp-action="Details" asp-route-id="@Model[i].Id"
                                   class="btn btn-info">
                                    <span class="glyphicon glyphicon-info-sign" /> Liste Elèves
                                </a>
                                <a id="ceateCCModal" data-toggle="modal" asp-action="Create" asp-controller="ClasseCourse" asp-route-id="@Model[i].Id" data-target="#modal-action-classe" class="btn btn-primary">
                                    <span class="glyphicon glyphicon-plus"/> Ajouter Cours
                                </a>
                            </td>

                        </tr>
                    }



                </tbody>

            </table>
        </div>

    </div>
</div>
@Html.Partial("_Modal", new BootstrapModel { ID="modal-action-classe",AreaLabeledId="modal-action-classe-label", Size =ModalSize.Medium})
@section scripts{
    <scipt src="~/js/classe-index.js" asp-append-version="true"></scipt>
}
